@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: #242424;
}

/* Mudando a cor da barra de rolagem */
::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

/* Mudando a cor do indicador */
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #52b0ff;
}

/* Mudando a cor do indicador ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: #3183bf;
}

section.home {
  background-image: linear-gradient(#242424, #242424e7),
    url("/src/img/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  padding: 0 30px;
  z-index: 1;
}

.logo {
  margin-right: auto;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  font-weight: 500;
}

.logo span {
  color: #52b0ff;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding: 0 90px;
  box-shadow: 0 0.1rem 0.3rem rgba(204, 204, 204, 0.315);
  width: 100%;
  background: #242424;
  transition: all 0.5s;
  position: fixed;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
  justify-content: center;
}

.navigation ul li a {
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s;
  color: #fff;
}
.navigation ul li a:hover {
  color: #52b0ff;
}
.navigation i {
  cursor: pointer;
  font-size: 1.5rem;
}
.menu {
  cursor: pointer;
  display: none;
}
.menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: #52b0ff;
  margin: 5px auto;
  transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
  background: #52b0ff;
}

/* Menu Responsivo */

@media (max-width: 785px) {
  section .content {
    padding: 20px !important;
  }
  .navigation {
    padding: 18px 20px;
  }
  .menu {
    display: block;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: white;
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0;
    background-color: #242424;
    overflow-y: hidden; /* desabilita a barra de rolagem */
  }

  .nav-item {
    margin: 16px 0;
  }
  .navigation ul li a {
    font-size: 17px;
    font-weight: bold;
    transition: all 0.5s;
    color: #fff;
    background-color: #242424;
  }

  .navigation ul li a:hover {
    color: #3183bf;
  }

  .content .image img {
    max-width: 200px;
  }
}

@media (max-width: 460px) {
  .content .image img {
    max-width: 150px;
    margin: 5px;
  }
}

@media (max-width: 460px) {
  .content .image img {
    max-width: 120px;
    margin: 5px;
  }
}

@media (max-width: 335px) {
  .content .image img {
    max-width: 100px;
    margin: 5px;
  }
}

section .content {
  display: flex;
  justify-content: space-between;
  padding: 90px;
  align-items: center;
  height: 100%;
}

.infos p {
  max-width: 300px;
}

.infos h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: #52b0ff;
  font-size: 24px;
  font-weight: 400;
}

.infos h2 {
  font-size: 29px;
  line-height: 52px;
  font-weight: 400;
  color: #fff;
}

.infos span {
  font-size: 29px;
  font-weight: 600;
  color: #d9edffc5;
  line-height: 52px;
}

.infos p {
  line-height: 25px;
  font-weight: 300;
  max-width: 600px;
  color: #d9edffc5;
}

.infos input[type="button"] {
  margin-top: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  background-color: #3183bf;
  width: 185px;
  height: 57px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

input[type="button"]:active {
  transform: scale(1.1);
}

.image img {
  max-width: 300px;
  border-radius: 50%;
}

#floating-image {
  position: relative;
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}

section.about {
  background-image: linear-gradient(#242424ec, #242424e7),
    url("/src/img/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 30vh; */
}

section.about .container__about {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tecnologias img {
  cursor: pointer;
  transition: 0.3s ease-in;
}

section.about .container__about .tecnologias {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.tecnologias img:hover {
  transform: scale(1.1);
}

section.about .container__about .tecnologias img {
  margin: 5px;
}

.container__about h1 {
  color: rgba(255, 255, 255, 0.671);
  font-weight: 500;
  margin-bottom: 20px;
}

.container__about p {
  color: #d9edffa4;
  font-weight: 300;
  max-width: 600px;
}

.container__about h2 {
  color: rgba(255, 255, 255, 0.671);
  font-weight: 500;
  margin-top: 20px;
}

.container__about img {
  max-width: 50px;
}

/* Sobre Responsivo */

@media (max-width: 785px) {
  .container__about p {
    color: #d9edffa4;
    font-weight: 300;
    max-width: 400px;
  }
}

section.projects {
  background-image: linear-gradient(#242424ec, #242424e7),
    url("/src/img/projects.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects .container__project {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

.container__project img {
  width: 300px;
  border-radius: 4px;
  object-fit: contain;
  margin: 10px;
}

.container__project p {
  max-width: 300px;
  text-align: center;
  font-size: 12px;
  color: #d9edff;
}

.container__project i {
  font-size: 20px;
  color: #fff;
  margin: 5px;
  display: flex;
}

.container__project .acesse {
  display: flex;
}

.container__project .project_one {
  margin: 20px;
}

.container__project i:active {
  transform: scale(1.1);
}

/* Responsivo Projetos */
@media (max-width: 785px) {
  .container__project img {
    width: 120px;
    text-align: center;
  }

  .project_one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

section.contact {
  background-image: linear-gradient(#242424ec, #242424e7),
    url("/src/img/contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
.formbold-mb-5 {
  margin-bottom: 20px;
}
.formbold-pt-3 {
  padding-top: 12px;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
}
.formbold-form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-bottom: 12px;
}
.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: #52b0ff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #3183bf;
  color: white;
  cursor: pointer;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
@media (min-width: 540px) {
  .sm\:w-half {
    width: 50%;
  }
}
